.button {
  text-transform: uppercase;
  padding: 5px;
  background-color: rgb(172, 200, 243);
  border: 0;
  border-radius: 4px;
}
.button:active,
.button:focus {
  outline: none;
  background-color: rgb(49, 173, 255);
}

.button:not(:last-child) {
  margin-right: 15px;
}
